/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #fff;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 60px;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 50px;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 35px;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 18px;
  line-height: 1.4;
}

.content-wrapper a {
  text-decoration: none;
  color: #424649;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.content-wrapper li {
  font-size: 16px;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -18px;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-arrow {
  background: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

.content-wrapper {
  /* Go from zero to full opacity */
}

.content-wrapper .text-purple {
  color: #9F3F95;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-wrapper .learn-cta, .content-wrapper .coq10-btn {
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
}

.content-wrapper .learn-cta:hover, .content-wrapper .coq10-btn:hover {
  color: #9F3F95;
  text-decoration: underline;
}

.content-wrapper .learn-cta:hover a, .content-wrapper .coq10-btn:hover a {
  color: #9F3F95;
}

.content-wrapper .tabActive {
  color: #9F3F95 !important;
  font-weight: 600;
  padding-bottom: 42px !important;
  border-bottom: 4px solid #9F3F95 !important;
}

.content-wrapper .subTabActive {
  border-bottom: none !important;
  color: #9F3F95 !important;
  font-weight: 400;
  background-color: #FFF !important;
  border-bottom: 2px solid #9F3F95 !important;
}

.hero {
  position: relative;
}

.hero .hero-img {
  max-width: 1280px;
  max-height: 550px;
  margin: 0;
}

.hero .heroBox {
  position: absolute;
  top: 14%;
  right: 2%;
  margin: 0;
  padding: 0 20px;
  width: 50%;
}

.hero .heroBox h1 {
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero .heroBox h5 {
  margin: 0;
  line-height: 1.2;
}

.hero .heroBox p {
  margin: 2.5rem 0 4rem 0;
}

.hero .heroBox .cta {
  width: 40%;
  margin: 0;
  background-color: #9F3F95;
  color: #FFF;
  text-align: center;
  padding: 10px;
}

.hero .heroBox .cta:hover {
  color: #9F3F95;
  background-color: #F8E4F9;
  border: 1px solid #9F3F95;
  text-decoration: none;
}

.info {
  position: relative;
  margin-bottom: 68px;
}

.info .infoImg-left {
  margin-top: 0;
  width: 30%;
  position: absolute;
}

.info .infoBox {
  position: relative;
  text-align: center;
  display: inline-block;
  background-color: #F8E4F9;
  width: 70%;
  margin: 70px 0 0 15%;
  padding: 0 80px 40px 80px;
  -webkit-box-shadow: -1px -1px 15px 3px rgba(150, 150, 150, 0.6);
  box-shadow: -1px -1px 15px 3px rgba(150, 150, 150, 0.6);
}

.info .infoBox h2 {
  margin-bottom: 0;
}

.info .infoBox h5 {
  margin: 0.5rem auto 2.4rem auto;
  line-height: 1;
}

.info .infoBox .benefits {
  text-align: left;
}

.info .infoBox .benefits .benefit {
  width: 60%;
  margin: 40px 0;
}

.info .infoBox .benefits .benefit .benefit-title {
  text-transform: uppercase;
}

.info .infoBox .benefits h3 {
  text-align: center;
}

.info .infoImg-right {
  position: absolute;
  top: 272px;
  right: 0;
  width: 40%;
}

.ingredients {
  margin: 0 auto;
}

.ingredients .ingredients-box {
  background: -o-linear-gradient(111.19deg, #F8E4F9 50%, #BD8CBF 50%);
  background: linear-gradient(-21.19deg, #F8E4F9 50%, #BD8CBF 50%);
  text-align: center;
  padding-bottom: 5%;
}

.ingredients .ingredients-box h2 {
  color: #FFF;
  padding-top: 20px;
  margin-bottom: 0;
}

.ingredients #ingredientsDesc {
  margin: 30px auto 0 auto;
  width: 80%;
  background-color: #FFF;
}

.ingredients #ingredientsDesc .ingredientImg {
  margin: 0 40px;
  float: left;
  display: inline-block;
}

.ingredients #ingredientsDesc img {
  width: 320px;
}

.ingredients #ingredientsDesc .ingredient-text {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  width: 75%;
}

.ingredients #ingredientsDesc .ingredient-text h3 {
  margin-bottom: 0.5rem;
}

.ingredients #ingredientsDesc .ingredient-text h5 {
  font-size: 25px;
  font-weight: 300;
  margin: 0 0 18px 0;
}

.ingredients #ingredientsDesc .slick-dots {
  bottom: -10px;
}

.ingredients #ingredientsDesc .slick-dots li button:before {
  color: #BD8CBF;
  font-size: 14px;
  line-height: 20px;
}

.collection {
  width: 100%;
  padding-bottom: 50px;
}

.collection h2 {
  margin: 4rem auto;
  padding-bottom: 2rem;
  text-align: center;
}

.collection .mainTab-underlay {
  width: 100%;
  z-index: 1;
  padding-left: 2px;
  margin: 0 auto;
}

.collection .mainTab-underlay .mainTab-subtxt {
  text-align: center;
  color: #BDBDBD;
  background: none;
  width: 49.8%;
  font-size: 18px;
  display: inline-block;
}

.collection .mainTab {
  position: relative;
  overflow: hidden;
  background: none;
  margin-top: -94px;
}

.collection .mainTab .mainTablinks {
  width: 50%;
  font-size: 35px;
  color: #BDBDBD;
  float: left;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #BDBDBD;
  border-left: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px 43px 16px;
  text-transform: capitalize;
  z-index: 99;
}

.collection .mainTab .mainTablinks:hover {
  background-color: #F8E4F9;
}

.collection .collectionWrapper {
  -webkit-box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 14px -2px rgba(0, 0, 0, 0.4);
  margin: 18px auto 0 auto;
  padding-bottom: 20px;
  width: 90%;
}

.collection .collectionWrapper .mainTabContent {
  display: none;
  padding: 0 12px;
  margin: 0 auto;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

.collection .collectionWrapper .mainTabContent .faceButtons, .collection .collectionWrapper .mainTabContent .targetButtons {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.collection .collectionWrapper .mainTabContent .faceButtons .faceLink, .collection .collectionWrapper .mainTabContent .faceButtons .targetlink, .collection .collectionWrapper .mainTabContent .targetButtons .faceLink, .collection .collectionWrapper .mainTabContent .targetButtons .targetlink {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  outline: none;
  text-transform: none;
  background-color: #EEEEEE;
  cursor: pointer;
  padding: 12px 12px;
  font-size: 18px;
  color: #BDBDBD;
  margin: 0;
  display: inline-block;
  max-width: 360px;
}

.collection .collectionWrapper .mainTabContent .faceButtons .faceLink:hover, .collection .collectionWrapper .mainTabContent .faceButtons .targetlink:hover, .collection .collectionWrapper .mainTabContent .targetButtons .faceLink:hover, .collection .collectionWrapper .mainTabContent .targetButtons .targetlink:hover {
  padding-bottom: 12px;
  background-color: #F8E4F9 !important;
}

.collection .collectionWrapper .mainTabContent .targetlink {
  width: 20%;
}

.collection .collectionWrapper .mainTabContent .faceContent, .collection .collectionWrapper .mainTabContent .targetContent {
  display: none;
  padding: 50px;
  text-align: center;
  -webkit-animation: fadeEffect 1.25s;
  animation: fadeEffect 1.25s;
}

.collection .collectionWrapper .mainTabContent .productInfo-details {
  position: relative;
  width: 80%;
  margin: 0;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.collection .collectionWrapper .mainTabContent .productInfo-details a {
  width: 30%;
}

.collection .collectionWrapper .mainTabContent .productInfo-details a img {
  width: 320px;
}

.collection .collectionWrapper .mainTabContent .productInfo-details .productInfo-text {
  display: inline-block;
  width: 60%;
  text-align: left;
  margin: 0 0 0 40px;
}

.collection .collectionWrapper .mainTabContent .productInfo-details .productInfo-text .productInfo-title {
  font-weight: 400;
  margin-bottom: 0;
}

.collection .collectionWrapper .mainTabContent .productInfo-details .productInfo-text h5 {
  margin: 1rem 0;
}

.collection .collectionWrapper .mainTabContent .productInfo-details .productInfo-text .productInfo-desc {
  margin: 20px 0;
}

.collection .collection-cta {
  margin: 20px auto 0 auto;
  text-align: center;
}

.collection .collection-cta h6 {
  margin: 0 auto;
  width: 50%;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: #9F3F95;
  font-weight: 400;
  border: 1px solid #BD8CBF;
}

.collection .collection-cta h6 a {
  color: #FFF;
}

.collection .collection-cta h6:hover {
  color: #9F3F95;
  background-color: #F8E4F9;
  border: 1px solid #9F3F95;
  text-decoration: none;
}

.collection .collection-cta h6:hover a {
  color: #9F3F95;
}

.suggestedRegimen {
  position: relative;
  text-align: center;
  background-color: #BD8CBF;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.suggestedRegimen h2 {
  margin-bottom: 54px;
  color: #fff;
}

.suggestedRegimen .regimenTab-underlay {
  width: 90%;
  z-index: 1;
  margin: 18px auto 0 auto;
  padding: 0 40px 0 40px;
}

.suggestedRegimen .regimenTab-underlay .regimenTab-subtxt {
  text-align: center;
  color: #BDBDBD;
  background: none;
  width: 49.8%;
  display: inline-block;
}

.suggestedRegimen .regimenTab {
  position: relative;
  width: 90%;
  margin: -98px auto 0 auto;
  padding: 0 40px 10px 40px;
  overflow: hidden;
}

.suggestedRegimen .regimenTab .regimenTablinks {
  width: 50%;
  color: #BDBDBD;
  float: left;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #BDBDBD;
  border-left: none;
  outline: none;
  cursor: pointer;
  padding: 18px 16px 43px 16px;
  font-size: 35px;
  text-transform: none;
  z-index: 99;
}

.suggestedRegimen .regimenTab .regimenTablinks:hover {
  background-color: #F8E4F9;
  z-index: 98;
}

.suggestedRegimen .regimenTabContent {
  display: none;
}

.suggestedRegimen .regimenTabContent .regimenDetails {
  background-color: #FFF;
  width: 90%;
  margin: -90px auto 0 auto;
  padding: 90px 40px 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.suggestedRegimen .regimenTabContent .regimenDetails .product {
  max-width: 25%;
  margin: 0 auto;
}

.suggestedRegimen .regimenTabContent .regimenDetails .product .oil-cta, .suggestedRegimen .regimenTabContent .regimenDetails .product .coq10-cta {
  display: none;
}

.suggestedRegimen .regimenTabContent .regimenDetails .product .oil-cta .coq10-btn, .suggestedRegimen .regimenTabContent .regimenDetails .product .coq10-cta .coq10-btn {
  padding: 20px;
  background-color: #BD8CBF;
}

.suggestedRegimen .regimenTabContent .regimenDetails .product img {
  width: 150px;
  margin: 0 auto;
}

.suggestedRegimen .regimenTabContent .regimenDetails .product h4 {
  font-size: 84px;
}

.suggestedRegimen .regimenTabContent .regimenDetails .product h3 {
  font-size: 33px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.suggestedRegimen .regimenTabContent .regimenDetails .product p {
  margin: 0 auto;
}

.suggestedRegimen #regimenSimple .regimenDetails .product {
  max-width: 33%;
}

.suggestedRegimen .regimenCTA {
  background-color: #FFF;
  width: 90%;
  margin: 0 auto 30px auto;
  padding: 14px 40px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.suggestedRegimen .regimenCTA .regimenCTA-1, .suggestedRegimen .regimenCTA .regimenCTA-2 {
  display: inline-block;
  background-color: #9F3F95;
  color: #FFF;
  padding: 16px 0;
  text-transform: uppercase;
}

.suggestedRegimen .regimenCTA .regimenCTA-1 a, .suggestedRegimen .regimenCTA .regimenCTA-2 a {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}

.suggestedRegimen .regimenCTA .regimenCTA-1:hover, .suggestedRegimen .regimenCTA .regimenCTA-2:hover {
  padding: 14px 0;
  color: #9F3F95;
  background-color: #F8E4F9;
  border: 1px solid #9F3F95;
  cursor: pointer;
  text-decoration: none;
}

.suggestedRegimen .regimenCTA .regimenCTA-1:hover a, .suggestedRegimen .regimenCTA .regimenCTA-2:hover a {
  color: #9F3F95;
  text-decoration: none;
}

.suggestedRegimen .regimenCTA .regimenCTA-1 {
  width: 25%;
}

.suggestedRegimen .regimenCTA .regimenCTA-2 {
  width: 73%;
}

.comments {
  text-align: center;
  background-color: #F8E4F9;
  padding: 40px 0 0 0;
  height: 400px;
}

.comments .quotes {
  margin: 0 auto;
  opacity: 0.1;
}

.comments .quotes img {
  width: 80px;
  height: 80px;
}

.comments #commentsSlider {
  margin: -55px auto 0 auto;
}

.comments #commentsSlider .slick-list {
  margin-left: auto;
  margin-right: auto;
}

.comments #commentsSlider .comment {
  width: 60% !important;
  max-width: 1280px;
}

.comments #commentsSlider .comment h4 {
  font-size: 60px;
  text-transform: none;
}

.comments #commentsSlider .comment h6 {
  margin: 20px auto;
  width: 70%;
}

.comments #commentsSlider .comment .commentProduct {
  margin-top: 0;
  margin-bottom: 20px;
}

.comments #commentsSlider blockquote {
  font-size: 18px;
  font-weight: 300;
  margin: 0 auto;
}

.learn {
  position: relative;
  display: inline-block;
}

.learn .learnBox {
  position: absolute;
  top: 8%;
  left: 5%;
  width: 40%;
  text-align: left;
}

.learn .learnBox .learn-cta {
  text-transform: uppercase;
  margin: 40px 0 0 0;
  text-align: left;
}

.learn .learnBox .learn-cta:hover {
  color: #9F3F95;
}

.learn .learn-img img {
  margin: 0 !important;
}

@media only screen and (max-width: 1024px) {
  .cms-page-view .column.main p {
    margin: 0 auto 10px auto;
  }
  .content-wrapper .slick-list {
    margin-left: 0;
  }
  .hero .heroBox {
    position: relative;
    top: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .hero .heroBox .cta {
    margin: 0 auto;
  }
  .info {
    margin-top: 20px;
  }
  .info .infoBox {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
  }
  .info .infoBox .benefits {
    text-align: center;
  }
  .info .infoBox .benefits .benefit {
    width: 90%;
  }
  .info .infoBox .benefits .learn-cta {
    text-align: left;
  }
  .info .infoImg-right {
    top: unset;
    bottom: -72px;
  }
  .ingredients #ingredientsDesc {
    width: 90%;
  }
  .ingredients #ingredientsDesc .ingredient-text {
    text-align: center;
  }
  .ingredients #ingredientsDesc .slick-dots li {
    width: 14px;
    height: 14px;
  }
  .ingredients #ingredientsDesc .slick-dots li button:before {
    font-size: 10px;
  }
  .collection .collectionWrapper {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }
  .collection .collectionWrapper .mainTabContent .faceButtons, .collection .collectionWrapper .mainTabContent .targetButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .collection .collectionWrapper .mainTabContent .faceButtons::-webkit-scrollbar, .collection .collectionWrapper .mainTabContent .targetButtons::-webkit-scrollbar {
    display: none;
  }
  .collection .collectionWrapper .mainTabContent .faceButtons .tablink, .collection .collectionWrapper .mainTabContent .faceButtons .targetlink, .collection .collectionWrapper .mainTabContent .targetButtons .tablink, .collection .collectionWrapper .mainTabContent .targetButtons .targetlink {
    width: 45%;
    height: 44px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 14px;
  }
  .learn .learnBox {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}



/*# sourceMappingURL=styles.css.map */
