@media only screen and (max-width: 1024px) {
  .cms-page-view .column.main p {
    margin: 0 auto 10px auto;
  }
  .content-wrapper {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 45px;
    }
    .sectionDivider {
      width: 97%;
    }
    .slick-list {
      margin-left: 0;
    }
  }
  .hero {
    text-align: center;
    background: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .hero-img {
      // position: absolute;
      float: none;

      img {
        max-width: 500px;
        max-height: 420px;
      }
    }
    .hero-text {
      position: relative;
      padding: 0;
      margin-top: 16px;
      margin-left: auto;
      margin-right: auto;
      left: auto;
      top: auto;

      h1 {
        // margin-left: auto;
        // margin-right: auto;
        width: 100%;
        font-size: 40px;
      }
      img {
        width: 225px;
        height: 78px;
        margin: 0 auto !important;
      }
    } // hero-text
  } // hero
  .history {
    background: none;
    display: flex;
    flex-direction: column;

    .history-img {
      display: block;
      margin: 0 auto;
      // width: 100%;
      order: 2;

      img {
        max-width: 450px;
        width: 80%;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    .history-upper, .history-lower {
      padding: 8px;
      width: 100%;
    }
    .history-upper {
      order: 1;

      .history-upperDivider {
        width: 180px;
        height: 16px;
      }
    } // history-upper
    .history-lower {
      order: 3;

      .history-lowerDivider {
        width: 72px;
        height: 16px;
      }
    } // history-lower
  } // history

  .info {
    margin: 120px auto 0 auto;
    width: 100%;
    padding: 0 20px;
    box-shadow: none;

    .info-border {
      // padding-bottom: 14px;
      margin: 0 3px;
    } // info-border
    .info-whatIs {
      width: 95%;

      h2 {
        font-size: 36px;
        width: 100%;
      }
      p {
        padding: 0 10px;
      }
    } // whatIs
    .stepsIcon {
      flex-direction: column;
      text-align: center;
      width: 95%;

      .step1 {
        order: 2;
        margin: 10px auto;
        width: 95%;
      }
      .step2 {
        order: 3;
        margin: 0 auto;
        width: 95%;
      }
      .info-icon {
        order: 1;
        margin: 0 auto 10px auto;
        width: 100%;

        img {
          width: 100px;
          margin: 0 auto;
        }
      }
    } // stepsIcon
    .benefits {
      width: 100%;
      flex-direction: column;

      .benefit {
        width: 100%;

        .drop {
          width: 19px;
        }
      }
    } // benefits
    .video {
      width: 100%;
      margin-bottom: 8px;

      .video-thumbnail {
        padding: 10px;

        .video-text {
          left: 20px;
          top: 22px;
          margin: 0 auto;
          width: 100%;

          .video-button {
            margin-right: 0;
            padding-top: 4px;
          }
          img {
            width: 26px;
          }
          .overlay-text {
            font-size: 20px;
          }
        } // video-text
      } // video-thumbnail
    } // video
  } // info
  .productInfo {
    text-align: center;
    padding-bottom: 40px;

    #productsSlider {
      padding: 0;

      img {
        width: 150px;
      }
      .productInfo-details {
        flex-direction: column;
      }
      .productInfo-text {
        margin-left: 0;
        width: 95%;

        .productDesc-cta {
          margin-bottom: 60px;
        }
      } // productInfo-text
      .slick-dots {
        bottom: 0;

        li {
          height: 44px;
          width: 50px;
          padding-left: 8px;
        } // li
        .slick-active {
          a {
            padding-bottom: 0;
          }
        }
      }
    } // #productsSlider
  } // productInfo
  .carousel {
    h3 {
      font-size: 28px;
    }
  } // carousel
  .learn {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    .learn-text {
      width: 95%;
      position: relative;
      margin: 0 auto 20px auto;
    } // learn-text
  } // learn
} // Mobile & Tablet - everything smaller than 1024

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .content-wrapper {
    .one {
      order: 1;
    }
    .two {
      order: 2;
    }
    .three {
      order: 3;
    }
    .four {
      order: 4;
    }
  } // content wrapper
  .hero {
    text-align: center;

    .hero-img {
      width: 100%;
      height: inherit;
      float: left;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    } // hero-img
    .hero-text {
      position: absolute;
      padding: 7% 0 0 40%;

      h1 {
        font-size: 50px;
        line-height: 1.1;
        width: 80%;
      }
    } // hero-text
  } // hero
  .history {
    height: auto;
    display: inline-block;


    .history-img {
      order: 1;
      width: 40%;
      // height: 360px;
      display: inline-block;
      position: absolute;
      left: -140px;

      img {
        // margin-left: -160px;
        width: 740px;
        max-width: 400px;
      }
    }
    .history-upper {
      text-align: center;
      order: 2;
      width: 60%;
      float: right;
      position: relative;

      .history-upperDivider {
        width: 300px;
        height: 22px;
        // margin-left: -22px;
      }
    } // history-upper
    .history-lower {
      text-align: center;
      order: 3;
      width: 60%;
      float: right;
      position: relative;

      .history-lowerDivider {
        width: 100px;
        height: 22px;
      }
    } // history-lower
  } // history

  .info {
    margin: 0 auto;
    width: 95%;
    padding: 10px;
    box-shadow: -1px -1px 15px 3px rgba(196,196,196,0.6);

    .info-border {
      margin: 10px 20px;
    }
    .stepsIcon {
      flex-wrap: wrap;
      flex-direction: row;

      .step1, .step2 {
        width: 44%;
        // margin-left: 0;
        // margin-right: 0;
      }
      .step2 {
        margin: 10px auto;
      }
    } // stepsIcon
    .benefits {
      flex-direction: row;
      flex-wrap: wrap;

      .benefit {
        width: 50%;
      } // benefit
    } // benefits
    .video {
      .video-thumbnail {
        .video-text {
          left: 20px;
          top: 0;

          .video-button {
            margin-right: 12px;
            padding-top: 0;
          }
          img {
            width: 40px;
          }
          .overlay-text {
            font-size: 30px;
          }
        } // video-text
      } // video-thumbnail
    } // video
  } // info
  .productInfo {
    #productsSlider {
      img {
        width: 300px;
        margin-left: -40px;
        margin-right: 40px;
      }
      .productInfo-details {
        flex-direction: row;
        text-align: left;
      }
      .productInfo-text {
        width: 60%;
      }
      .slick-dots {
        bottom: -80px;
        li {
          height: 63px;
          width: 75px;
          padding-left: 12px;
        }
      }
    }
  }// productInfo
  .carousel {
    margin-top: 90px;

    h3 {
      font-size: 33px;
    }
  } // carousel
  .learn {
    text-align: left;
    // height: 668px;
    // padding: 0;

    .learn-text {
      width: 50%;
      position: absolute;
      margin-left: 4%;

    } //learn-text
    .learn-img {
      overflow: hidden;

      img {
        margin-right: -120px !important;
      }
    } // learn-img
  } // learn
} // min 650 to max 1024 - Tablet
@media only screen and (min-width: 830px) and (max-width: 1024px) {
  .hero {
    .hero-text {
      h1 {
        width: 80%;
        font-size: 68px;
      }
    } // hero-text
  } // hero
  .history {
    .history-img {
      left: -14px;

      img {
        margin-left: -138px !important;
        margin-top: -25px !important;
        width: 740px;
        // max-width: 500px;
      }
    } // history-img
    .history-upper, .history-lower {
      width: 70%;
    }
  } // history
  .info {
    .video {
      .video-thumbnail {
        .video-text {
          left: 40px;
          top: 30px;
        }
        .video-button {
          margin-right: 20px;
        }
      }
    } // video
  } // info
  .learn {
    .learn-text {
      width: 50%;
    } //learn-text
    .learn-img {
      overflow: hidden;

      img {
        margin-right: -160px !important;
      }
    } // learn-img
  } // learn
} // min 830 to max 1024 - Tablet exceptions
@media only screen and (min-width: 380px) and (max-width: 500px) {
  .info {
    .video {
      .video-thumbnail {
        .video-text {
          text-align: right;
          left: 8%;
          top: 32%;
        } // video-text
      } // video-thumbnail
    } // video
  } // info
} // min 376 to max 424 - Mobile exceptions
