@media only screen and (max-width: 1024px) {
  .cms-page-view .column.main p {
    margin: 0 auto 10px auto;
  }
  .content-wrapper {
    .slick-list {
      margin-left: 0;
    }
  }
  .hero {
    .heroBox {
      position: relative;
      top: 0;
      right: 0;
      width: 90%;
      margin: 0 auto;
      text-align: center;

      .cta {
        margin: 0 auto;
      }
    }
  } // hero
  .info {
    margin-top: 20px;

    .infoBox {
      width: 80%;
      margin: 0 auto;
      padding: 10px;

      .benefits {
        text-align: center;

        .benefit {
          width: 90%;
        }
        .learn-cta {
          text-align: left;
        }
      } // benfits
    } // infoBox
    .infoImg-right {
      top: unset;
      bottom: -72px;
    }
  } // info
  .ingredients {
    #ingredientsDesc {
      width: 90%;
      .ingredient-text {
        text-align: center;
      } // ingredient-text
      .slick-dots {
        // bottom: -10px;

        li {
          width: 14px;
          height: 14px;

          button:before {
            font-size: 10px;
            // line-height: 16px;
          } // button:before
        } // li
      } // slick-dots
    } // ingredientsDesc
  } //ingredients
  .collection {
    .collectionWrapper {
      box-shadow: none;
      width: 100%;

      .mainTabContent {

        .faceButtons, .targetButtons {
          // overflow-x: scroll;
          // overflow-y: hidden;
          // white-space: nowrap;
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          // width: inherit;

          &::-webkit-scrollbar {
            display: none;
          }
          .tablink, .targetlink {
            // display: inline-block;
            width: 45%;
            height: 44px;
            flex: 0 0 auto;
            font-size: 14px;
          }
        } // faceButtons targetButtons
      } // mainTabContent
    } // collectionWrapper
  } // collection
  .learn {
    .learnBox {
      position: relative;
      top: 0;
      left: 0;
      width: 90%;
      margin: 0 auto;
      text-align: center;

    } // learnBox
  } // learn
} // Mobile & Tablet - everything smaller than 1024

@media only screen and (min-width: 640px) and (max-width: 1024px) {

} // min 650 to max 1024 - Tablet
@media only screen and (min-width: 830px) and (max-width: 1024px) {

} // min 830 to max 1024 - Tablet exceptions
// @media only screen and (min-width: 380px) and (max-width: 500px) {
// } // min 376 to max 424 - Mobile exceptions
