@media only screen and (max-width: 1024px) {
  .cms-page-view .column.main p {
    margin: 0 auto 10px auto;
  }
  .content-wrapper {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 45px;
    }
    .sectionDivider {
      width: 97%;
    }
    .slick-list {
      margin-left: 0;
    }
  }
  .hero {
    // text-align: center;
    // background: none;
    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;

    .hero-img {
      // position: absolute;
      // float: none;
      //
      // img {
      //   max-width: 500px;
      //   max-height: 420px;
      // }
    }
    .hero-text {
      // position: relative;
      // padding: 0;
      // margin-top: 16px;
      // margin-left: auto;
      // margin-right: auto;
      // left: auto;
      // top: auto;
      //
      // h1 {
      //   // margin-left: auto;
      //   // margin-right: auto;
      //   width: 100%;
      //   font-size: 40px;
      // }
      // img {
      //   width: 225px;
      //   height: 78px;
      //   margin: 0 auto !important;
      // }
    } // hero-text
  } // hero

  .info {
    margin: 120px auto 0 auto;
    width: 100%;
    padding: 0 20px;
    box-shadow: none;

    .info-border {
      // padding-bottom: 14px;
      margin: 0 3px;
    } // info-border
    .info-whatIs {
      width: 95%;

      h2 {
        font-size: 36px;
        width: 100%;
      }
      p {
        padding: 0 10px;
      }
    } // whatIs
    .stepsIcon {
      flex-direction: column;
      text-align: center;
      width: 95%;

      .step1 {
        order: 2;
        margin: 10px auto;
        width: 95%;
      }
      .step2 {
        order: 3;
        margin: 0 auto;
        width: 95%;
      }
      .info-icon {
        order: 1;
        margin: 0 auto 10px auto;
        width: 100%;

        img {
          width: 100px;
          margin: 0 auto;
        }
      }
    } // stepsIcon
    .benefits {
      width: 100%;
      flex-direction: column;

      .benefit {
        width: 100%;

        .drop {
          width: 19px;
        }
      }
    } // benefits
    .video {
      width: 100%;
      margin-bottom: 8px;

      .video-thumbnail {
        padding: 10px;

        .video-text {
          left: 20px;
          top: 22px;
          margin: 0 auto;
          width: 100%;

          .video-button {
            margin-right: 0;
            padding-top: 4px;
          }
          img {
            width: 26px;
          }
          .overlay-text {
            font-size: 20px;
          }
        } // video-text
      } // video-thumbnail
    } // video
  } // info
  .productInfo {
    text-align: center;
    padding-bottom: 40px;

    #productsSlider {
      padding: 0;

      img {
        width: 150px;
      }
      .productInfo-details {
        flex-direction: column;
      }
      .productInfo-text {
        margin-left: 0;
        width: 95%;

        .productDesc-cta {
          margin-bottom: 60px;
        }
      } // productInfo-text
      .slick-dots {
        bottom: 0;

        li {
          height: 44px;
          width: 50px;
          padding-left: 8px;
        } // li
        .slick-active {
          a {
            padding-bottom: 0;
          }
        }
      }
    } // #productsSlider
  } // productInfo
  .carousel {
    h3 {
      font-size: 28px;
    }
  } // carousel
  .learn {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    .learn-text {
      width: 95%;
      position: relative;
      margin: 0 auto 20px auto;
    } // learn-text
  } // learn
} // Mobile & Tablet - everything smaller than 1024

@media only screen and (min-width: 640px) and (max-width: 1024px) {

} // min 650 to max 1024 - Tablet
@media only screen and (min-width: 830px) and (max-width: 1024px) {

} // min 830 to max 1024 - Tablet exceptions
// @media only screen and (min-width: 380px) and (max-width: 500px) {
// } // min 376 to max 424 - Mobile exceptions
